---
import Layout from '../layouts/Layout.astro';
import Filters from '../components/Filters.astro';
import ProviderList from '../components/ProviderList.astro';
---

<Layout title="ISS Prices - İnternet Sağlayıcı Fiyat Karşılalaştırma">

    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
      <!-- Filters Sidebar -->
      <div class="lg:col-span-1">
        <Filters />
      </div>

      <!-- Provider List -->
      <div class="lg:col-span-3">
        <ProviderList />
      </div>
    </div>

</Layout>

<script>
  import '../scripts/filters';
</script>
