---
import Layout from '../layouts/Layout.astro';
import Filters from '../components/Filters.astro';
import ProviderList from '../components/ProviderList.astro';
---

<Layout title="ISS Prices - İnternet Sağlayıcı Fiyat Karşılalaştırma">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">
      <!-- Filters Sidebar -->
      <div class="lg:col-span-1">
        <Filters />
      </div>

      <!-- Provider List -->
      <div class="lg:col-span-3">
        <ProviderList />
      </div>
    </div>
  </div>
</Layout>

<script>
  import '../scripts/filters';
</script>
